<!--The content below is only a placeholder and can be replaced.-->
<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <a href="#" class="navbar-brand">{{title}}</a>
      </div>
      <ul class="nav navbar navbar-var" *ngIf="identity">
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-home"></span>
            Inicio
          </a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-th-list"></span>
            Timeline
          </a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-user"></span>
            Gente
          </a>
        </li>
      </ul>
      <ul class="nav navbar navbar-var navbar-right" *ngIf="!identity">
          <li>
            <a [routerLink]="['/login']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-log-in"></span>
              Login
            </a>
          </li>
          <li>
            <a [routerLink]="['/registro']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-user"></span>
              Registro
            </a>
          </li>
        </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>